@page
@model FoodPanda.Pages.Liquors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Available Liquors</h1>

<p>
    <a asp-page="Create" input type="submit" class="btn btn-primary">Add New Liquor</a>
    <a asp-page="Search" input type="submit" class="btn btn-primary">Search for a Liquor</a>
</p>

<body style="background-color:beige">
<table class="table-bordered" style="border-color: black; width:1000px; height: 125px; text-align:center; background-color:bisque">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Liquor[0].LiquorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Liquor[0].LiquorType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Liquor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LiquorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiquorType)
            </td>
            <td>
                <a asp-page="./Edit" input type="submit" class="btn btn-primary" asp-route-id="@item.LiquorId">Edit</a> |
                <a asp-page="./Details" input type="submit" class="btn btn-primary" asp-route-id="@item.LiquorId">Details</a> |
                <a asp-page="./Delete" input type="submit" class="btn btn-primary" asp-route-id="@item.LiquorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
