@page
@model FoodPanda.Pages.Cuisines.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Available Cuisines</h1>

<p>
    <a asp-page="Create" input type="submit" class="btn btn-primary">Add a New Cuisine</a>
    <a asp-page="Search" input type="submit" class="btn btn-primary">Search for a Cuisine</a>
</p>

<body style="background-color:beige">
<table class="table-bordered" style="border-color: black; width:1000px; height: 125px; text-align:center; background-color:bisque">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cuisine[0].CuisineName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cuisine) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CuisineName)
            </td>
            <td>
                <a asp-page="./Edit" input type="submit" class="btn btn-primary" asp-route-id="@item.CuisineId">Edit</a> |
                <a asp-page="./Details" input type="submit" class="btn btn-primary" asp-route-id="@item.CuisineId">Details</a> |
                <a asp-page="./Delete" input type="submit" class="btn btn-primary" asp-route-id="@item.CuisineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
