@page
@model FoodPanda.Pages.Restaurants.SearchModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search Restaurant</h1>

<div class="row">
    <div class="col">
        <form action="" method="get" class="form-inline">
            <input asp-for="Query" class="form-control mr-sm-2 mb-2" placeholder="Search Restaurant..." />
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>
</div>

@if (Model.SearchCompleted)
{
    if (Model.Restaurant.Any())
    {
        <table class="table"></table>
    }
    else
    {
        <div class="row">
            <div class="col">
                <div class="alert alert-info">
                    No results match your term <strong>@Model.Query</strong>
                </div>
            </div>
        </div>
    }
}

<body style="background-color:beige">
<table class="table-bordered" style="border-color: black; width:1000px; height: 125px; text-align:center; background-color:bisque">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Cuisine.CuisineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Dish.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Location.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Restaurant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuisine.CuisineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.City)
            </td>
            <td>
                <a asp-page="./Edit" input type="submit" class="btn btn-primary" asp-route-id="@item.RestaurantId">Edit</a> |
                <a asp-page="./Details" input type="submit" class="btn btn-primary" asp-route-id="@item.RestaurantId">Details</a> |
                <a asp-page="./Delete" input type="submit" class="btn btn-primary" asp-route-id="@item.RestaurantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>